# ------------------------------------------------------------------------------
# The `.gitignore` file tells the Git version control system what content on the
# local filesystem should not be tracked.
# ------------------------------------------------------------------------------

# Build output.
dist

# Environment-specific configuration.
.env

# Vagrant's cache.
.vagrant
